// Variables

//Color
$blue: #459ce2;
$red: #e74c3c;
$gray: #666;
$purple: #9b59b6;

//font
$font-fm: "HelveticaNeueLTStd-Th", "Helvetica", "Arial", sans-serif ;
$font-rt: "Roboto-Thin";

$text-color: #444;
$text-gray: $gray;
$text-silver: #ccc;
$text-red: $red;
$text-blue: $blue;

$text-original: 10px;
$text-xs: 1rem;
$text-s: 1.2rem;
$text-m: 1.4rem;
$text-l: 1.6rem;
$text-xl: 2rem;
$text-huge: 3rem;